/* UserChat.css */

.user-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh; 
    width: 100%; 
}

.chat-messages {
    flex-grow: 1; /* Allow messages to grow and fill remaining space */
    overflow-y: auto; /* Enable vertical scrolling for overflow */
    padding: 10px;
  
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    max-width: 50%;
    word-wrap: break-word;
}

.message.left {
    float:left;
    clear: both;
    background-color: #e5e5ea; 
}

.right {
    float:right;
    clear: both;
    background-color: #007aff;
    color: white; 
}

.message-content {
    margin-bottom: 4px;
    
}

.message-timestamp {
    font-size: 12px;
    color: #666;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.message-input {
    flex-grow: 1; /* Allow input field to grow and fill remaining space */
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    padding: 8px 16px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


