
* {
    box-sizing: border-box;
}

.user-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(237, 252, 186, 0.6), rgba(224, 240, 253, 0.877)), url('../../Images/Chat.jpg');
    
    background-size: cover;
    background-position: center;
  
    overflow-y: auto;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    
}


.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    max-width: 45%;
    word-wrap: break-word;
}

.message.left {
    float: left;
    clear: both;
    background-color: #93dbaa;
}

.right {
    float: right;
    clear: both;
    background-color: #7ec6f7;
    color: rgb(5, 5, 5);
}

.message-content {
    margin-bottom: 4px;
    
}
.img-class{
    max-width: 100%;
    height: 280px;
    width: 250px;
}
.img-div{
    display: flex;
    justify-content: center;
  
}

.message-timestamp {
    font-size: 12px;
    color: #030303;
}

.right .message-timestamp {
    color: rgb(20, 20, 20);
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-right: 15px;
    margin-top: auto; 
    
}

.message-input {
    width: 900px;
    margin-right: 10px;
    padding: 8px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 55px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;

}

.send-button {
    padding: 8px 16px;
    background-color: #1a1efa;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label {
    position: absolute;
    right: 280px; 
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.file-input {
    position: absolute;
    left: -9999px;
}

.file-icon {
    font-size: 25px;
    cursor: pointer;
   
}

.emoji-button {
    position: absolute;
    left: 205px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #f8f4f4;
    border: 2px solid white;
    border-radius: 50%; 
    padding: 0px;
    background-color: #ffffff; 
    
}
.emoji-picker span {
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    padding: 5px; 
    
}
.emoji-picker {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    position: absolute;
    bottom: 25px; 
    left: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    
}

.file-class .btn{
    border: 2px solid rgb(252, 236, 236);
    border-radius:5px ;
    padding: 5px;
    margin: 5px;
    height: 23px;
    display: flex;
    align-items: center;
}

@media (max-width: 1265px) {
    .file-label {
        position: relative;
        right: 100px; 
        top: 40%;
  
    }
    
    .file-icon {
        font-size: 25px;
        cursor: pointer;
    }

    .emoji-button {
        position: absolute;
        left: 155px;
        top: 48%;
        
    }
}
@media (max-width: 1199px) {
    
    .message-input {
        width: 700px;
    
    }

    .emoji-button {
        position: absolute;
        left: 208px;
        top: 48%;
        
    }
}
@media (max-width: 1080px) {
    .emoji-button {
        position: absolute;
        left: 140px;
        top: 48%;
        
    }

    .img-class{
        max-width: 100%;
        height: 240px;
        width: 220px;
    }
 
}
@media (max-width: 1029px) {
    .emoji-button {
        position: absolute;
        left: 100px;
      
    }
}
@media (max-width: 900px) {
    .emoji-button {
        position: absolute;
        left: 103px;
    }

    .message-input {
        width: 600px;
    }

    .img-class{
        max-width: 100%;
        height: 210px;
        width: 190px;
    }

}
@media (max-width: 800px) {
    
    .message-input {
        width: 550px;
    }

}
@media (max-width: 750px) {
    
    .message-input {
        width: 500px;
        margin-left: 80px;
        margin-right: 0px;
    }

    .emoji-button {
        position: absolute;
        left: 115px;
    }
}
@media (max-width: 650px) {
    
    .send-button {
        padding: 5px 10px;
    }

    .emoji-button {
        position: absolute;
        left: 90px;
    }

    .file-label {
        position: relative;
        right: 50px; 
        top: 40%;
  
    }

    .img-class{
        max-width: 100%;
        height: 195px;
        width: 175px;
    }
}
@media (max-width: 500px) {
   
    .file-label {
        position: relative;
        right: 20px; 
        top: 40%;
  
    }
    .message-input {
        width: 500px;
        margin-left: 80px;
        margin-right: -20px;
    }
    .file-label {
        position: relative;
        right: 42px;
        top: 40%;
    }
}
@media (max-width: 450px) {

 
    .emoji-button {
        position: absolute;
        left: 35px;
    }
    .message-input {
        width: 500px;
        margin-left: 25px;
    }
    
}
@media (max-width: 355px) {

    .message-input {
        font-size: 10px;
    
    }
}
