.login-container {
    background-image: linear-gradient(rgba(250, 199, 199, 0.6), rgba(176, 207, 233, 0.877)), url('../../Images/Login.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
   border: 2px solid rgb(211, 100, 245);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
  }
  
  
  .login-form h1 {
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
  margin-left: 100px;
    
  }
  
   .button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width:500px){
    .login-form input {
      width: 73%;
    }
    .login-form input[type="text"] {
      margin-right: -7px;
  }

  .login-form input[type="password"] {
    margin-left: 14px;
}

.button{
  width: 40%;
  margin-left: 117px;
}
.login-form{
  padding-left: 2px;
  padding-right: 0px;
}
  }
  
@media (max-width:455px){
  .login-form input {
    width: 55%;
  }
  .button {
    width: 28%;
    margin-left: 97px;
    font-size: 14px;
}
.login-form {
  height: 348px;
  width: 277px;
}
}